# Business understanding

#### Airbnb is an online marketplace for arranging or offering lodging, primarily homestays, or tourism experiences.  I have created some relevant questions that is for me is important to know about Seattle and the Airbnb options that the city has.

#### 1. __What is the most expensive city in Seattle for rent an Airbnb?__ The goal of answer this questions is take a variability of prices that give us the posiblity if we travel to Seattle to decide what is our best option depending of our budget. 
   
#### 2. __What is the better date to travel to Seattle and find a good price for an Airbnb?__ The goal of answer this questions is  related with the first one,  but related with the time and not the city. If we have the posibility and the time to travel to Seattle is better if we know in what time of the Year we could have lower costs. 

#### 3.__What city of Seattle has more options to look for a Airbnb that accomplish my requirements?__ If you are a preson that have a lot of requirements for an Airbnb this is the goal of this quiestion, known the city where you have the posibility to find more options that accomplish you requirements of an Airbnb.

#### 4.__What variables are important for predicting the price of an Airbnb in Seattle?__ The goal of answer this question is known what variables are the best to predict the price of an Airbnb on Seattle. With this answer we can find a stable point of requeriments to get a good price. 

# Data understanding

#### The public data that Airbnb provide us, are five datasets: 
#### 1. listings.csv : Detailed Listings data for Seattle. 
#### 2. scraped.csv: When you download this csv has the same name of listings csv, but is a compressed file, for this project i have changed the name to scraped.csv, this csv contains similar data to listings.csv but is taken from the Airbnb Webpage, is data scraped, is the most important dataset. 
#### 3. reviews.csv: This file has the dates when an Airbnb get a review.  
#### 4. calendar.csv: This file has the price per night of each Airbnb during the year. 
#### 5. neighbourhoods.csv: This file has all the neighbourhoods groups in Seattle. 


#### The next part we will starting to look at each dataset that we have and get some status and finding.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

In [25]:
def get_mean(dataset, column_name):
    """
    Description: This function can be used to get the mean of a column. 

    Arguments:
        dataset: Dataset 
        column_name: Column name that you want to get the mean.

    Returns:
        The mean of a column located in the dataset
    """
    mean = dataset[column_name].mean()
    return mean

def list_count_variables(dataset, column_name):
    """
    Description: Get a list of a categorical variables and the amount of when each categoriacal variable appears.  

    Arguments:
        dataset: the cursor object. 
        column_name: Column name that you want to get the count.

    Returns:
        The value value_counts of the column
    """
    return dataset[column_name].value_counts()

## Seattle_listings.csv

#### The first step is take a look of all the data and get an idea of the columns that we are interested to work.

In [2]:
seattle_listings = pd.read_csv('./Seattle/listings.csv')
seattle_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,30,28,2019-08-30,0.21,2,84
1,5682,"Cozy Studio, min. to downtown -WiFi",8993,Maddy,Delridge,South Delridge,47.52398,-122.35989,Entire home/apt,48,3,462,2018-11-24,3.99,1,0
2,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65411,-122.33761,Entire home/apt,90,2,147,2019-09-07,1.19,3,85
3,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55062,-122.32014,Private room,62,2,144,2019-09-02,1.29,8,365
4,9460,Downtown Convention Center B&B -- Free Minibar,30832,Siena,Downtown,First Hill,47.61265,-122.32936,Private room,99,3,443,2019-09-02,3.62,4,150

In [20]:
seattle_listings.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,9.040000e+03,9.040000e+03,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,7741.000000,9040.000000,9040.000000
mean,2.098044e+07,5.923561e+07,47.625582,-122.333773,169.111283,4.809292,48.868363,2.379393,32.322345,139.407301
std,1.082978e+07,7.073362e+07,0.045495,0.031482,191.104568,14.550328,73.261488,2.285433,77.902838,132.205957
min,2.318000e+03,2.000000e+01,47.495870,-122.419250,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.303175e+07,8.534462e+06,47.605620,-122.353913,82.000000,1.000000,3.000000,0.500000,1.000000,4.000000
50%,2.144738e+07,2.905126e+07,47.620215,-122.332520,120.000000,2.000000,18.000000,1.670000,2.000000,91.000000
75%,3.020446e+07,8.296168e+07,47.659770,-122.312377,189.000000,3.000000,65.000000,3.700000,8.000000,265.000000
max,3.879903e+07,2.961044e+08,47.735770,-122.234800,5400.000000,400.000000,767.000000,14.870000,352.000000,365.000000

#### In this dataset we are intered in the values
#### __id__: The identifier of each Airbnb, is necessary to merge with other dataset.
#### __neighbourhood_group:__ We have many questions about the cities in Seattle, so this column is really important. 
#### __price:__ We have two questions about the price, so is necessary use this variables. As we knew in the describe function above, we don't have NAN's in this column, so is perfect to use it.

In [21]:
list_count_variables(seattle_listings, "neighbourhood_group")

Other neighborhoods    1682
Downtown               1662
Capitol Hill            930
Central Area            809
Queen Anne              645
West Seattle            481
Ballard                 471
Cascade                 446
Rainier Valley          429
Beacon Hill             316
Delridge                266
University District     244
Northgate               216
Magnolia                165
Lake City               151
Seward Park              88
Interbay                 39
Name: neighbourhood_group, dtype: int64

#### We know now that the city with more Airbnb's is the Downtown, and the City that has less is Interbay. And we have 16 neighbourhood groups in Seattle.

In [27]:
get_mean(seattle_listings,"price")

169.1112831858407

#### The mean of price per night of an Airbnb in Seattle is
### $169.00

## Scraped.csv

#### The first step is take a look of all the data and get an idea of the columns that we are interested to work.

In [31]:
seattle_scraped = pd.read_csv('./Seattle/scraped.csv')
pd.set_option('display.max_columns', None) # The parameter display.max_columns = None is used to show all the columns in this case for the head function
seattle_scraped.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2318,https://www.airbnb.com/rooms/2318,20190922030624,2019-09-22,Casa Madrona - Urban Oasis 1 block from the park!,"Gorgeous, architect remodeled, 1917 Dutch Colo...","Casa Madrona is a gorgeous, architect remodele...","Gorgeous, architect remodeled, 1917 Dutch Colo...",none,Madrona is a hidden gem of a neighborhood. It ...,"We adhere to a 10pm -9am quiet hour schedule, ...",NaN,Guests can access any part of the house.,We are a family who live next door and are ava...,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/02973ad3-a...,NaN,2536,https://www.airbnb.com/users/show/2536,Megan,2008-08-26,"Seattle, Washington, United States",I welcome guests from all walks of life and ev...,within an hour,100%,NaN,t,https://a0.muscache.com/im/pictures/user/016a1...,https://a0.muscache.com/im/pictures/user/016a1...,Minor,2.0,2.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Seattle, WA, United States",Madrona,Madrona,Central Area,Seattle,WA,98122,Seattle,"Seattle, WA",US,United States,47.61082,-122.29082,t,House,Entire home/apt,9,2.5,4.0,4.0,Real Bed,"{Internet,Wifi,Kitchen,""Free parking on premis...",NaN,$296.00,NaN,NaN,$500.00,$250.00,8,$25.00,30,1000,30,30,1000,1000,30.0,1000.0,5 days ago,t,25,55,84,84,2019-09-22,28,8,2008-09-15,2019-08-30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,NaN,"{WASHINGTON,"" Seattle"","" WA""}",f,f,strict_14_with_grace_period,f,f,2,2,0,0,0.21
1,5682,https://www.airbnb.com/rooms/5682,20190922030624,2019-09-22,"Cozy Studio, min. to downtown -WiFi",The Cozy Studio is a perfect launchpad for you...,"Hello fellow travelers, Save some money and ha...",The Cozy Studio is a perfect launchpad for you...,none,NaN,My personal favorite places to dine are: • Ma...,Bus 120 is right outside and goes into downtow...,PRIVATE ENTRANCE WITH PRIVATE BATH Queen size ...,"I'm more than happy to meet with guests, but u...",**PLEASE READ** NO SMOKING NO VAPING NO MARIJU...,NaN,NaN,https://a0.muscache.com/im/pictures/5ec89f9d-8...,NaN,8993,https://www.airbnb.com/users/show/8993,Maddy,2009-03-03,"Seattle, Washington, United States",Hello my name is Maddy. I enjoy meeting and ho...,NaN,NaN,NaN,t,https://a0.muscache.com/im/users/8993/profile_...,https://a0.muscache.com/im/users/8993/profile_...,South Delridge,1.0,1.0,"['email', 'phone', 'manual_online', 'reviews',...",t,t,"Seattle, WA, United States",South Delridge,South Delridge,Delridge,Seattle,WA,98106,Seattle,"Seattle, WA",US,United States,47.52398,-122.35989,t,Guest suite,Entire home/apt,2,1.0,0.0,1.0,Real Bed,"{TV,Internet,Wifi,""Free street parking"",Heatin...",NaN,$48.00,$400.00,"$1,250.00",$120.00,$45.00,1,$5.00,3,14,3,3,14,14,3.0,14.0,6 months ago,t,0,0,0,0,2019-09-22,462,8,2010-03-21,2018-11-24,95.0,10.0,10.0,10.0,10.0,9.0,10.0,t,NaN,"{WASHINGTON,"" Seattle"","" WA""}",f,f,strict_14_with_grace_period,f,t,1,1,0,0,3.99
2,6606,https://www.airbnb.com/rooms/6606,20190922030624,2019-09-22,"Fab, private seattle urban cottage!","This tiny cottage is only 15x10, but it has ev...","Soo centrally located, this is a little house ...","This tiny cottage is only 15x10, but it has ev...",none,"A peaceful yet highly accessible neighborhood,...","Check in is at three, if you'd like a snack or...",NaN,NaN,I often escape to kingston and my place on the...,Please treat the cottage as if it were your ow...,NaN,NaN,https://a0.muscache.com/im/pictures/45742/2111...,NaN,14942,https://www.airbnb.com/users/show/14942,Joyce,2009-04-26,"Seattle, Washington, United States",I am a therapist/innkeeper.I know my city well...,within a few hours,100%,NaN,f,https://a0.muscache.com/im/users/14942/profile...,https://a0.muscache.com/im/users/14942/profile...,Wallingford,5.0,5.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Seattle, WA, United States",Wallingford,Wallingford,Other neighborhoods,Seattle,WA,98103,Seattle,"Seattle, WA",US,United States,47.65411,-122.33761,t,Guesthouse,Entire home/apt,2,1.0,1.0,1.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",NaN,$90.00,$670.00,NaN,$200.00,$40.00,2,$10.00,2,1125,2,2,1125,1125,2.0,1125.0,3 weeks ago,t,26,56,85,85,2019-09-22,147,17,2009-07-17,2019-09-07,92.0,9.0,9.0,10.0,10.0,10.0,9.0,t,NaN,"{WASHINGTON,"" Seattle"","" WA""}",f,f,strict_14_with_grace_period,f,f,3,3,0,0,1.19
3,9419,https://www.airbnb.com/rooms/9419,20190922030624,2019-09-22,Glorious sun room w/ memory foambed,This beautiful double room features a magical ...,Our new Sunny space has a private room from th...,This beautiful double room features a magical ...,none,"Lots of restaurants (see our guide book) bars,...","This area is an arts district,you will see all...",Car 2 go is in this neigborhood Bus is across ...,"24 /7 access kitchen, bathroom and community s...",I have a hands on warm approach to guests but ...,"No drugs,no smoking inside *outside in front o...",NaN,NaN,https://a0.muscache.com/im/pictures/56645186/e...,NaN,30559,https://www.airbnb.com/users/show/30559,Angielena,2009-08-09,"Seattle, Washington, United States",I am a visual artist who is the director of ...,within a few hours,100%,NaN,t,https://a0.muscache.com/im/users/30559/profile...,https://a0.muscache.com/im/users/30559/profile...,Georgetown,8.0,8.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Seattle, WA, United States",Georgetown,Georgetown,Other neighborhoods,Seattle,WA,98108,Seattle,"Seattle, WA",US,United States,47.55062,-122.32014,t,Apartment,Private room,2,3.0,1.0,1.0,Real Bed,"{Internet,Wifi,""Air conditioning"",Kitchen,""Fre...",200.0,$62.00,$580.00,"$1,500.00",$100.00,$10.00,1,$15.00,2,60,2,2,60,60,2.0,60.0,6 weeks ago,t,30,60,90,365,2019-09-22,144,15,2010-07-30,2019-09-02,93.0,10.0,10.0,10.0,10.0,10.0,10.0,t,NaN,"{WASHINGTON,"" Seattle"","" WA""}",f,f,moderate,t,t,8,0,8,0,1.29
4,9460,https://www.airbnb.com/rooms/9460,20190922030624,2019-09-22,Downtown Convention Center B&B -- Free Minibar,Take up a glass of wine and unwind on one of t...,Greetings from Seattle. Thanks for considering...,Take up a glass of wine and unwind on one of t...,none,The apartment is situated at the intersection ...,Free Zone 21 Parking. There are 60 blocks in ...,On a map it looks like the building is right n...,"In the email I send you before your arrival, i...","I give my guests space, but am available whene...","Dear Prospective Guest, There aren’t really ...",NaN,NaN,https://a0.muscache.com/4ea/air/v2//pictures/b...,NaN,30832,https://www.airbnb.com/users/show/30832,Siena,2009-08-10,"Seattle, Washington, United States",I moved to Seattle in 1990 and love it here. ...,within an hour,100%,NaN,t,https://a0.muscache.com/im/pictures/user/ac6e1...,https://a0.muscache.com/im/pictures/user/ac6e1...,First Hill,4.0,4.0,"['email', 'phone', 'reviews', 'kba']",t,f,"Seattle, WA, United States",First Hill,First Hill,Downtown,Seattle,WA,98101,Seattle,"Seattle, WA",US,United States,47.61265,-122.32936,t,Condominium,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",NaN,$99.00,NaN,NaN,$0.00,$45.00,1,$15.00,3,29,3,3,29,29,3.0,29.0,today,t,5,18,48,150,2019-09-22,443,52,2009-08-31,2019-09-02,98.0,10.0,10.0,10.0,10.0,10.0,10.0,t,19-000500,"{WASHINGTON,"" Seattle"","" WA""}",t,f,moderate,f,f,4,3,1,0,3.62

In [30]:
pd.set_option('display.max_columns', None) # The parameter display.max_columns = None is used to show all the columns in this case for the describe function()
seattle_scraped.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,9.040000e+03,9.040000e+03,0.0,0.0,0.0,9.040000e+03,0.0,9038.000000,9038.000000,9040.000000,9040.000000,9040.000000,9040.000000,9039.000000,9037.000000,407.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,7682.000000,7680.000000,7680.000000,7679.000000,7681.00000,7679.000000,7680.000000,9040.000000,9040.000000,9040.000000,9040.000000,7741.000000
mean,2.098044e+07,2.019092e+13,NaN,NaN,NaN,5.923561e+07,NaN,126.545253,126.545253,47.625582,-122.333773,3.651106,1.308352,1.372497,1.904614,696.980344,1.982854,4.809292,607.608186,4.486394,5.635841,602.332080,605.420796,5.098595,603.591770,10.189602,25.690376,41.675664,139.407301,48.868363,17.488717,95.229758,9.738151,9.640755,9.819247,9.82320,9.802448,9.517448,32.322345,28.157412,1.431969,0.659403,2.379393
std,1.082978e+07,0.000000e+00,NaN,NaN,NaN,7.073362e+07,NaN,381.021754,381.021754,0.045495,0.031482,2.289956,0.654346,1.016505,1.572850,330.843220,1.671704,14.550328,543.002508,14.375961,15.581040,543.399623,543.038810,14.729447,543.005369,10.342369,21.986550,33.763540,132.205957,73.261488,23.981072,6.981828,0.711963,0.747078,0.641241,0.63224,0.570997,0.770911,77.902838,76.235411,7.305483,5.141889,2.285433
min,2.318000e+03,2.019092e+13,NaN,NaN,NaN,2.000000e+01,NaN,0.000000,0.000000,47.495870,-122.419250,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.303175e+07,2.019092e+13,NaN,NaN,NaN,8.534462e+06,NaN,1.000000,1.000000,47.605620,-122.353913,2.000000,1.000000,1.000000,1.000000,600.000000,1.000000,1.000000,29.000000,1.000000,2.000000,29.000000,29.000000,1.100000,29.000000,0.000000,0.000000,0.000000,4.000000,3.000000,0.000000,94.000000,10.000000,9.000000,10.000000,10.00000,10.000000,9.000000,1.000000,1.000000,0.000000,0.000000,0.500000
50%,2.144738e+07,2.019092e+13,NaN,NaN,NaN,2.905126e+07,NaN,2.000000,2.000000,47.620215,-122.332520,3.000000,1.000000,1.000000,1.000000,600.000000,1.000000,2.000000,1124.000000,2.000000,2.000000,1124.000000,1124.000000,2.000000,1124.000000,7.000000,26.000000,49.000000,91.000000,18.000000,6.000000,97.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,2.000000,1.000000,0.000000,0.000000,1.670000
75%,3.020446e+07,2.019092e+13,NaN,NaN,NaN,8.296168e+07,NaN,10.750000,10.750000,47.659770,-122.312377,4.000000,1.500000,2.000000,2.000000,975.000000,2.000000,3.000000,1125.000000,2.000000,3.000000,1125.000000,1125.000000,3.000000,1125.000000,19.000000,46.000000,73.000000,265.000000,65.000000,27.000000,99.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,8.000000,4.000000,1.000000,0.000000,3.700000
max,3.879903e+07,2.019092e+13,NaN,NaN,NaN,2.961044e+08,NaN,1795.000000,1795.000000,47.735770,-122.234800,28.000000,16.000000,8.000000,49.000000,2750.000000,16.000000,400.000000,10000.000000,400.000000,400.000000,10000.000000,10000.000000,400.000000,10000.000000,30.000000,60.000000,90.000000,365.000000,767.000000,206.000000,100.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,352.000000,352.000000,62.000000,59.000000,14.870000

#### This dataset is similar to the first dataset, we are interested in some variables:
#### id: The identifier of each Airbnb, is necessary to merge with other dataset.
#### neighbourhood_cleansed: We have many questions about the cities in Seattle, so this column is really important.
#### price: In the price for this dataset we have a complicated issue because has the character $ before the price, wi will have to remove it before use it.

In [32]:
list_count_variables(seattle_scraped, "neighbourhood_group_cleansed")

Other neighborhoods    1682
Downtown               1662
Capitol Hill            930
Central Area            809
Queen Anne              645
West Seattle            481
Ballard                 471
Cascade                 446
Rainier Valley          429
Beacon Hill             316
Delridge                266
University District     244
Northgate               216
Magnolia                165
Lake City               151
Seward Park              88
Interbay                 39
Name: neighbourhood_group_cleansed, dtype: int64

#### We have the same information about the neighborhoods in this file, but we have an issue with the price.

## Calendar.csv

In [34]:
seattle_calendar = pd.read_csv('./Seattle/calendar.csv')
seattle_calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2318,2019-09-22,t,$475.00,$475.00,30,1000
1,2318,2019-09-23,t,$475.00,$475.00,30,1000
2,2318,2019-09-24,t,$475.00,$475.00,30,1000
3,2318,2019-09-25,f,$475.00,$475.00,30,1000
4,2318,2019-09-26,f,$475.00,$475.00,30,1000

In [35]:
seattle_calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  3.299600e+06    3.299600e+06    3.299600e+06
mean   2.098044e+07    5.104974e+00    6.035904e+02
std    1.082918e+07    1.498146e+01    5.430251e+02
min    2.318000e+03    1.000000e+00    1.000000e+00
25%    1.303175e+07    1.000000e+00    2.900000e+01
50%    2.144738e+07    2.000000e+00    1.124000e+03
75%    3.020446e+07    3.000000e+00    1.125000e+03
max    3.879903e+07    4.000000e+02    1.000000e+04

#### We have the same issue with the price here, the character $ will have to be removed after to use the price column. This dataset is important to know the price of an Airbnb during the year.

## neighbourhoods.csv

In [37]:
seattle_neighbourhoods = pd.read_csv('./Seattle/neighbourhoods.csv')
seattle_neighbourhoods.head()

  neighbourhood_group     neighbourhood
0             Ballard             Adams
1             Ballard     Loyal Heights
2             Ballard       Sunset Hill
3             Ballard     West Woodland
4             Ballard  Whittier Heights

In [38]:
seattle_neighbourhoods.describe()

        neighbourhood_group neighbourhood
count                    90            90
unique                   17            90
top     Other neighborhoods    High Point
freq                     21             1

#### This dataset won't be used, just has information about the neghbourhoods and the neghbourhoods group.